.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .navbarTitle {
  margin: 0;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.navbar .navbarList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  gap: 15px;
  font-size: 25px;
}
